<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <!--Font awsome cdnjs (copy link tag)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">
                <img src="~/LogoUpdate.png" width="50px" asp-append-version="true" />
            </div>
            <ul>
                <li>
                    <a href="~/persons/index">Persons</a>
                </li>
            </ul>
        </div>

        <div class="page-content">
            @RenderBody()
        </div>
    </div>

    @*@RenderSection("script", false) tức render section này chỉ đc gọi khi trang view của nó đc gọi đến*@
    @RenderSection("scripts", false)
</body>
</html>
